# Clerk
VITE_CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxxxxx

# Backend API
VITE_API_URL=http://localhost:3000

# ImageKit
VITE_IK_URL_ENDPOINT=https://ik.imagekit.io/<your_imagekit_id>
VITE_IK_PUBLIC_KEY=public_xxxxxxxxxxxxxxxxxxxxxxxx
