# MongoDB
MONGO=mongodb+srv://<user>:<password>@cluster.mongodb.net/<dbname>

# Clerk
CLERK_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxxxxx

# ImageKit
IK_URL_ENDPOINT=https://ik.imagekit.io/<your_imagekit_id>
IK_PUBLIC_KEY=public_xxxxxxxxxxxxxxxxxxxxxxxx
IK_PRIVATE_KEY=private_xxxxxxxxxxxxxxxxxxxxxxxx

# CORS
CLIENT_URL=http://localhost:5173
